.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;

    position: relative;
    
}

.custom-checkbox::before {
    content: " ";

    display: inline-block;
    height: 13px;
    width: 13px;

    background-image: url("../img/check.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(0);

}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
